# Совместимая конфигурация golangci-lint
version: 2

run:
  timeout: 5m
  tests: false

linters:
  enable:
    - unused
    - govet
    - ineffassign
    - staticcheck

linters-settings:
  govet:
    enable:
      - assign
      - atomic
      - bools
      - buildtag
      - errorsas
      - httpresponse
      - loopclosure
      - lostcancel
      - nilfunc
      - printf
      - shadow
      - shift
      - sortslice
      - tests
      - timeformat
      - unusedwrite

issues:
  exclude-rules:
    - linters: [golint]
      text: "should have comment"
